.app-btn-primary {
  background-color: #63eed2;
  border: 1px solid darkgray;
  border-radius: 2em;
  font-size: 14px;
  font-weight: 500;
  padding: 0.75em 2em;
  cursor: pointer;
  color: #111;
  text-align: center;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.app-btn-primary:hover,
.app-btn-primary:active,
.app-btn-primary:focus {
  background-color: #6bffe1;
  border-color: darkgray;
  outline: none;
}

.app-btn-primary:disabled {
  background-color: #cccccc;
  border-color: #aaaaaa;
  color: #666666;
  cursor: not-allowed;
  transform: none;
}

/* Secondary Button */
.app-btn-secondary {
  height: auto;
  background-color: #ffffff;
  border: 1px solid lightgray;
  border-radius: 2em;
  font-size: 14px;
  font-weight: 500;
  padding: 0.8em 2em;
  cursor: pointer;
  color: #111;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.app-btn-secondary:hover,
.app-btn-secondary:active,
.app-btn-secondary:focus {
  background-color: #63eed2;
  border-color: darkgray;
  outline: none;
}

.app-btn-secondary:disabled {
  background-color: #cccccc;
  border-color: #aaaaaa;
  color: #666666;
  cursor: not-allowed;
}
