.card-default-img {
  max-width: 192px;
  max-height: 192px;
  height: auto;
  width: auto;
  display: block;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-radius: 1em;
}

.card-default-title {
  font-weight: 600;
  color: #111;
}

.card-default-footer {
  background: rgb(244, 244, 244);
  border-radius: 0 0 0.5em 0.5em;
  border-top: 1px solid rgb(222, 222, 222);
  padding: 1em 0;
}

.card-default-body {
  padding: 1rem; /* Add some padding for better look */
  overflow-y: auto;
  width: 100%; /* Ensure the body takes full width */
  color: #333;
}

.card-alternate-variant {
  background-color: #e0dde3;
  border-style: none;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  min-width: 14em;
  min-height: 4rem;
}

.card-default-variant {
  background-color: #ffffff;
  border-radius: 0.5em;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 17em;
  min-height: 4rem;
  height: fit-content;
}

.card-default-footer {
  width: 100%; /* Ensure the footer takes full width */
}
