.legend {
  background-color: #fff !important;
  color: #333 !important;
  font-size: 1em !important;
  font-weight: 600 !important;
  border-radius: 1em !important;
  border: 1px solid #ddd !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
}

.thumbs-wrapper {
  margin-bottom: 0px !important;
}

.carousel .slide img {
  max-height: 360px;
  object-fit: scale-down;
  padding: 1em 1em 2.5em 1em;
  gap: 1em;
  border-radius: 1em;
}

.slider-wrapper {
  padding-bottom: 1em;
}

.carousel-item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto; /* Passt sich dynamisch an */
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-container .legend {
  position: absolute;
  bottom: 0; /* Legende bleibt am unteren Rand */
  width: 100%; /* Breite der Legende */
  text-align: center;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: Halbtransparenter Hintergrund */
  color: white; /* Textfarbe */
  padding: 0.5em 0;
}

.carousel .control-prev.control-arrow::before {
  border-right: 12px solid black;
}

.carousel .control-next.control-arrow::before {
  border-left: 12px solid black;
}

.carousel .control-dots .dot {
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background: #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
}

.carousel.carousel-slider {
  border-radius: 1em;
}

.image-container {
  background: rgba(53, 120, 104, 0.2);
}

@media (min-width: 992px) {
  .carousel .slide img {
    max-height: 680px;
  }
}
