.legend-custom {
  background-color: #eee !important;
  color: black !important;
  font-size: 1em !important;
  border-radius: 1em !important;
  border: 2px solid lightgrey !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5) !important; /* Dezenter Schatten */
}

.thumbs-wrapper {
  margin-bottom: 0px !important;
}
