.contact-form {
  background-color: var(--background-card-light);
  border-radius: 1em;
  border: 1px solid var(--grey-border);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 17em;
  min-height: 4rem;
  height: fit-content;
  box-shadow: var(--default-shadow);
}

.contact-form-body {
  padding: 1rem;
  overflow-y: auto;
  width: 100%;
}

.contact-form-header {
  font-weight: 600;
  color: var(--text-color-black);
  margin-bottom: 1em;
}

.contact-form-input,
.react-phone-number-input {
  border-radius: 20px;
  border: 1px solid var(--grey-border);
  background-color: var(--primary-color-bright-2);
  padding: 10px 15px;
  font-size: 16px;
  transition: all 0.3s ease;
  color: var(--text-color-black-light);
}

.contact-form-input:focus,
.react-phone-number-input:focus-within {
  border-color: var(--primary-color-bright);
  box-shadow: 0 0 8px var(--primary-color-bright);
  background-color: var(--background-card-light);
  transform: scale(1.005);
}

.contact-form-input::placeholder,
.react-phone-number-input__input::placeholder,
.PhoneInputInput::placeholder {
  color: var(--text-color-black-lighter);
  font-style: italic;
}

.contact-form-input:hover,
.react-phone-number-input:hover {
  border-color: var(--primary-color-bright);
}

.PhoneInputInput {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
}

.react-phone-number-input__country {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.react-phone-number-input__icon {
  border-radius: 50%;
  overflow: hidden;
  width: 20px;
  height: 20px;
}

.required-notice,
.text-length-notice {
  align-self: flex-end;
  color: var(--text-color-black-lighter);
  font-size: 0.9rem;
}

.text-length-notice {
  margin-top: 5px;
}

.required-notice {
  font-style: italic;
}

.form-status {
  font-size: 0.975rem;
  font-weight: 500;
}

.form-status.success {
  color: var(--primary-color-dark);
}

.form-status.error {
  color: var(--tertiary-color-dark);
}

.form-switch {
  height: 1.25em;
}

.form-check-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--grey-border);
  border-radius: 1em;
  background-color: #fff;
  outline: none;
  transition: all 0.3s ease;
}

.form-check-input:checked {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}

.form-check-input:focus {
  outline: none;
  box-shadow: 0 0 4px var(--primary-color-bright); /* Eigener Fokus-Stil */
}

.form-check-input:hover {
  border-color: var(--primary-color);
}

.form-check-input:checked:hover {
  background-color: var(--primary-color);
}

.form-check-label {
  color: var(--text-color-black-lighter);
  font-style: italic;
}
