.contact-form {
  background-color: #ffffff;
  border-radius: 0.5em;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 17em;
  min-height: 4rem;
  height: fit-content;
  width: 100%;
  justify-content: flex-start;
}

.contact-form-footer {
  width: 100%;
}

.contact-form-header {
  font-weight: 600;
  color: #111;
  margin-bottom: 1em;
}

.contact-form-input {
  border-radius: 2em;
  background-color: #b8e9df4f;
  border-color: lightgray;
}

.contact-form-input {
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 10px 15px;
  outline: none;
  background-color: #f9fdfc;
  font-size: 16px;
  transition: all 0.3s ease;
  color: #333;
}

.contact-form-input:focus {
  border-color: #63eed2;
  box-shadow: 0 0 8px rgba(99, 238, 210, 0.8);
  background-color: #ffffff;
  transform: scale(1.01);
}

.contact-form-input::placeholder {
  color: #bbb;
  font-style: italic;
}

.contact-form-input:hover {
  border-color: #89e5c7;
}

@media (min-width: 1200px) {
  .contact-form-input:focus {
    transform: scale(1.005);
  }
}

.react-phone-number-input {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid lightgray;
  background-color: #f9fdfc;
  padding: 5px 10px;
  transition: all 0.3s ease;
  padding: 10px 15px;
}

.PhoneInputInput {
  outline: none;
  border: none;
}

.PhoneInputInput::placeholder {
  color: #bbb;
  font-style: italic;
}

.PhoneInputInput:focus {
  outline: none;
  box-shadow: none;
}

.react-phone-number-input:focus-within {
  border-color: #63eed2;
  box-shadow: 0 0 8px rgba(99, 238, 210, 0.8);
  background-color: #ffffff;
  transform: scale(1.01);
}

/* Eingabefeld */
.react-phone-number-input__input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: #333;
  padding: 10px;
  border-radius: 20px;
}

/* Eingabefeld beim Hover */
.react-phone-number-input:hover {
  border-color: #89e5c7;
}

/* Platzhalter */
.react-phone-number-input__input::placeholder {
  color: #bbb;
  font-style: italic;
}

/* Länder-Flagge Dropdown */
.react-phone-number-input__country {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.react-phone-number-input__icon {
  border-radius: 50%;
  overflow: hidden;
  width: 20px;
  height: 20px;
}

.required-notice {
  align-self: flex-end;
  color: #666;
  font-style: normal;
  font-size: 0.875rem;
}
