.footer-container {
  width: 100vw;
  padding: 1rem;
  background-color: rgb(43, 48, 58);
  box-shadow: 0 -3px 6px rgba(43, 48, 58, 0.3); /* Upward shadow */
  color: #fff; /* Font color */
  display: flex;
  justify-content: center;
  z-index: 10;
}

.logo-link-container {
  color: #63eed2;
  transition: transform 0.3s ease, color 0.3s ease;
  width: fit-content;
}

.footer-column-header {
  color: #eee;
  font-size: medium;
}

.footer-description-text {
  color: #ddd;
  font-size: small;
}

.footer-copyright-text {
  margin-top: 1em;
  color: #ccc;
  font-size: small;
}
