.footer-container {
  width: 100vw;
  min-width: 300px;
  padding: 1rem;
  background-color: rgb(43, 48, 58);
  color: #fff; /* Font color */
  display: flex;
  justify-content: center;
  z-index: 10;
}

.logo-link-container {
  color: #63eed2;
  transition: transform 0.3s ease, color 0.3s ease;
  width: fit-content;
}

.footer-column-header {
  color: #ddd;
  font-size: medium;
  margin-bottom: 0.8em;
}

.footer-description-text {
  color: #ccc;
  margin-right: 3em;
  font-size: small;
}

.footer-copyright-text {
  margin-top: 1em;
  color: #ccc;
  font-size: smaller;
}
