.text-link {
  text-decoration: none;
  color: #ddd;
  font-size: medium;
  transition: color 0.3s ease;
}

.text-link:hover {
  color: #63eed2;
}

.text-link-header-brand {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.6em;
  color: #2b303a; /* Kräftige Markenfarbe */ /* Kräftige Markenfarbe */
}
