.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: space-between;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.app-main {
  display: flex;
  flex: 1;
  background-color: #ffffff;
}

.app-header {
  background-color: #2b303a;
  min-height: 2rem;
  width: 100%;
}

.app-footer {
  min-height: 2rem;
  width: 100%;
  background-color: #1a1d23;
}

/* Basistyle für den Button */
.app-btn-primary {
  background-color: #5de0c6; /* Primäre Hintergrundfarbe */
  border-width: 1px; /* Konsistente Border-Breite */
  border-color: #2b303a; /* Border-Farbe */
  border-radius: 2em; /* Abgerundete Ecken für moderneres Aussehen */
  font-size: 14px; /* Etwas größere Schriftgröße */
  font-weight: 500; /* Mittelstarkes Schriftgewicht */
  padding: 0.75em 1.65em; /* Innenabstand für besseren Klickbereich */
  cursor: pointer; /* Zeigt an, dass der Button klickbar ist */
}

/* Hover-, Active- und Focus-Zustände */
.app-btn-primary:hover,
.app-btn-primary:active,
.app-bbtn-primary:focus {
  background-color: #63eed2 !important; /* Dunklerer Hintergrund bei Hover */
  border-color: #2b303a !important; /* Beibehaltung der Border-Farbe */
  outline: none; /* Entfernt die Standard-Focus-Rahmen */
}

/* Optional: Deaktivierter Zustand */
.app-btn-primary:disabled {
  background-color: #cccccc; /* Grauer Hintergrund für deaktivierte Buttons */
  border-color: #aaaaaa; /* Angepasste Border-Farbe */
  color: #666666; /* Angepasste Schriftfarbe */
  cursor: not-allowed; /* Zeigt an, dass der Button nicht klickbar ist */
  transform: none; /* Keine Transformation bei deaktivierten Buttons */
}
