.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: space-between;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.app-main {
  display: flex;
  flex: 1;
  background-color: #ffffff;
}

.app-header {
  background-color: #2b303a;
  min-height: 2rem;
  width: 100%;
}

.app-footer {
  min-height: 2rem;
  width: 100%;
  background-color: #1a1d23;
}

.app-btn-primary {
  background-color: #5de0c6;
  border-width: 1px;
  border-color: #2b303a;
  border-radius: 2em;
  font-size: 14px;
  font-weight: 500;
  padding: 0.75em 1.65em;
  cursor: pointer;
}

.app-btn-primary:hover,
.app-btn-primary:active,
.app-bbtn-primary:focus {
  background-color: #63eed2 !important;
  border-color: #2b303a !important;
  outline: none;
}

.app-btn-primary:disabled {
  background-color: #cccccc;
  border-color: #aaaaaa;
  color: #666666;
  cursor: not-allowed;
  transform: none;
}
