.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: space-between;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.app-main {
  min-width: 300px;
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: #ffffff;
}

.color-green {
  color: #5de0c6;
}

.color-dark-grey {
  color: #2b303a;
}

.color-light-grey {
  color: #cccccc;
}

.td {
  height: 2px;
  display: block;
  margin: 1em 0;
  background: linear-gradient(to right, #ccc, #ffffff);
}
