:root {
  --background-page: #f5f5f5;
  --background-header: #2b303a;
  --background-card-light: #fff;
  --background-card-footer-light: #fff;
  --background-card-footer-dark: #fff;
  --primary-color: #3dd2cc;
  --primary-color-dark: #27a5a1;
  --primary-color-bright: #8be4e1;
  --primary-color-bright-2: #cdf3f2;
  --secondary-color-bright-2: #d0dcf0;
  --secondary-color-bright: #b1c4e7;
  --secondary-color-dark: #7395d3;
  --secondary-color: #8faadc;
  --tertiary-color: #f4a261;
  --light-grey-color: #e6e6e6;
  --text-color-black: #111;
  --text-color-black-light: #333;
  --text-color-black-lighter: #555;
  --text-color-white: #fff;
  --text-color-almost-white: #ddd;
  --default-shadow: 0 4px 6px #2222221a;
  --default-shadow-reverse: 0 -4px 6px #aaaaaa1a;
  --grey-border: #aaa;
}
