.basic-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3em;
  padding: 3em 0;
  width: 100%;
}

.basic-layout-centered {
  justify-content: center;
  align-items: center;
}

/** Bootstrap large lg */
@media (min-width: 992px) and (min-height: 1024px) {
  .basic-layout-centered {
    margin-top: -10%;
  }
}
