.simple-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1.5em 0;
  width: 100%;
}

.simple-layout-centered {
  justify-content: center;
  align-items: center;
}

/** Bootstrap large lg */
@media (min-width: 992px) and (min-height: 1024px) {
  .simple-layout-centered {
    margin-top: -10%;
  }
}
